@model PizzaEntities.Customer


<h2>Login</h2>

<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input id="email" type="text" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <input id="password" type="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-default" id="loginSubmit" />
            </div>
        </form>
    </div>
</div>
<div id="errorMessage"></div>

<script>
    $('#loginSubmit').click(function () {

        event.preventDefault();


        var url = "@ViewData["url"]" + "api/customers/GetByEmail/";
        var email = $("#email").val();
        var password = $("#password").val();


         $.ajax({
            contentType: 'application/json',
            type: "GET",
            url: url+email,
            success: function (data) {
                console.log(data)
                var id = data.id;
                if (data.password === password) {
                    
                var ls = window['localStorage'];


                    ls.setItem("id", data.id);
                        window.location.href = "https://localhost:44390";

                }
                else {
                        $("#errorMessage").append("That email and password do not match out records.");
                }
            
              
            
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //$("#getCustomerResult").val(jqXHR.statusText);

                console.log(error);
                $("#errorMessage").append("That email and password do not match out records.");
            }
        });
            



    });

</script>

