@model PizzaEntities.Order

@{
    ViewData["Title"] = "Create";
}

<div id="formDiv">

    <h4>Order @ViewData["OrderId"]</h4>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <div id="Pizzas">
            </div>
            <form>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <div class="checkbox" id="deliveryCheckbox">
                        <label>
                            <input asp-for="delivery" /> @Html.DisplayNameFor(model => model.delivery)
                        </label>
                    </div>
                </div>
                <div id="ResultPrice"></div>
                <div class="form-group">
                    <input id="createOrder" type="submit" class="btn btn-danger" />
                </div>
            </form>
        </div>
    </div>
    </div>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

    <script>
    $("document").ready(function () {
        getOrderPizzas();
        getOrderPrice();
    }
    );


    var ls = window['localStorage'];
    var orderId = ls.getItem("OrderId");
    var customerId = ls.getItem("id");
     var url = "@ViewData["url"]";

    function getOrderPrice() {
        var price = 0;
        $.ajax({
            contentType: 'application/json',
            type: 'GET',
            url: url+"api/Orders/GetPrice/"+ orderId,
            success: function (res) {
               //alert(res);
               document.getElementById("ResultPrice").innerHTML = res;
            },
            async: false
        });
        return price;
    }

    function PizzaPrice(pizzaId) {
        //alert(pizzaId);
        var price = 0;
        $.ajax({
            contentType: 'application/json',
            type: 'GET',
            url: url +  "api/Pizzas/GetPrice/"+ pizzaId,
            success: function (res) {
               //alert(res); // returns the right value for each price
               //document.getElementById("ResultPrice").innerHTML = res;
                price = res;
                //return res;
            },
            async: false
        });
        return price;
    }

    function getOrderPizzas() {
        var PizzaResult = $('#Pizzas');
        $.ajax({
            contentType: 'application/json',
            type: 'GET',
            url: url + "api/Pizzas/GetOrderPizzas/" + orderId,
            success: function (res) {
                console.log(res);
                $.each(res ,function (index,val){
                    PizzaResult.append(index + 1);
                    PizzaResult.append("  ");
                    PizzaResult.append("Pizza");
                    PizzaResult.append("  ");
                    //PizzaResult.append(val.id);
                    var price = PizzaPrice(val.id);
                    //alert(price);
                    PizzaResult.append(price);
                    PizzaResult.append("<br>");
                    PizzaResult.append("    ");
                    PizzaResult.append("|");
                    PizzaResult.append(val.size);
                    PizzaResult.append("|");
                    PizzaResult.append("|");
                    PizzaResult.append(val.sauce);
                    PizzaResult.append("|");
                    PizzaResult.append("|");
                    PizzaResult.append(val.crust);
                    PizzaResult.append("|");
                    PizzaResult.append("<br>");
                    appendToppings(PizzaResult, val.id);
                    //PizzaResult.append();
                });
            }
        });
    }

    function GetToppingName(toppingId) {
        //alert(pizzaId);
        var name = "NoName";

        $.ajax({
            contentType: 'application/json',
            type: 'GET',
            url: url+"api/Toppings/"+ toppingId,
            success: function (res) {
               //alert(res); // returns the right value for each price
               //document.getElementById("ResultPrice").innerHTML = res;
                name = res.name;
                //return res;
            },
            async: false
        });
        return name;
    }

    function appendToppings(TheElement, pizzaId) {
        $.ajax({
            contentType: 'application/json',
            type: 'GET',
            url: url+"api/PizzaToppings/GetPizzaToppings/" + pizzaId,
            success: function (res) {
                console.log(res);
                $.each(res, function (index, val) {
                    TheElement.append("|");
                    var toppingId = val.toppingId;
                    TheElement.append(GetToppingName(toppingId));
                    TheElement.append("|");
                });
                TheElement.append("<br>");
            },
            async: false
        });
    }

    function postOrder() {
        var today = new Date();
        var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
        var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
        var dateTime = date + ' ' + time;

        var delivery = false;

        if (document.getElementById('deliveryCheckbox').checked) {
            delivery = true;
        } else {
            delivery = false;
        }
        // Just need to work on orderID logic
        // and creatign new orders


        var order = JSON.stringify({
            id:orderId,
            customerId:customerId,
            date:dateTime,
            delivery:delivery,
            status: "pending",
            price: getOrderPrice()
        })

        $.ajax({
            contentType: "application/json",
            type: 'POST',
            url:url + "api/Orders",
            data: order,
            success: function (data, textStatus, jqXHR) {
                console.log(data)
                console.log("actually worked!!")
            },
            error: function () {
                console.log("Did not work!!")
            }
        });
    }

    $('#createOrder').click(function () {
        postOrder();
    });

    </script>
