<p>Creat a Pizza</p>

<select>Size
    <option>small</option>
    <option>medium</option>
    <option>large</option>
</select>
<select>Sauce
    <option>Tomatoe</option>
    <option>BBQ</option>
    <option>Buffalo</option>
</select>
<select>Crust
    <option>regular</option>
    <option>pan</option>
    <option>deep dish</option>
</select>
<div *ngIf="toppings">
    <div *ngFor="let topping of toppings">
        <input type="checkbox" value="{{ topping.id }}">
        {{ topping.name}}
        <br>
        

    </div>

</div>

