@{
    ViewData["Title"] = "Home Page";
}


    <div id="homeDiv">
        @*<a class="a" href="/pizzas/create"><button class="startOrder">Start your order</button></a>

        <a class="a" href=""><button class="startOrder">View Orders</button></a>*@

        <div class="card" style="width: 18rem;">
            <img src="~/pizza.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Create Your Custom Pizza</h5>
                <p class="card-text"> Choose the size, crust, sauce and toppings that you want.</p>
                <a href="/pizzas/create" class="btn btn-danger">Start your order</a>
            </div>
        </div>


        <div class="card" style="width: 18rem;">
            <img src="~/pizza3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">View your orders</h5>
                <p class="card-text"> View your order history, as well as, your current orders.</p>
              
                <button class="btn btn-danger" id="viewOrders">View Orders</button>
                
            </div>
        </div>
    </div>











<script>



    $("#viewOrders").on("click", function () {

        var ls = window['localStorage'];
        var custId = ls.getItem("id")

        if (custId === null) {
            window.location = "https://pizzaapp123.azurewebsites.net"
        }
        else {

            window.location = "https://pizzaapp123.azurewebsites.net/Orders/Details/" + id;
        }
    })



</script>